<% 
difficulty_array = ["Curieux","Amateur","Averti"]
territory_array = ["Ain", "Ardèche", "Auvergne", "Drôme", "Isère", "Loire", "Rhône", "Savoie", "Haute-Savoie"]
duration_array = ["","Moins de 5 minutes", "5 à 15 minutes", "15 à 60 minutes", "Plus d'une heure"]

%>
<div class="background-modal hidden"></div>





<div class="menu-btn-container">
    <div id="item1" ><div class="menu-btn">À la Une </div></div>
    <div id="item2" ><a href="#form" class="menu-btn">Tous les projets numériques</a></div>
    <div id="item3" ><a href="/quizz" class="menu-btn">Quiz</a></div>
    <div id="item4" ><a href="https://www.fetedelascience-aura.com" class="menu-btn ">Programmation présentielle</a></div>
</div>
<%= image_tag "hero_desktop.svg", class: "banner-desktop" %>


<div class="container mt-5 mb-5">

<section id="une">
<h2>Les projets à la Une</h2>
<br><br>
<div class="card-container stars">
<% @projets.first(3).each do |projet| %>
    <div data-target="#modal_<%=projet.id%>"  class="card-stars">
            <img src="<%= asset_url("#{projet.image}")%>">
            <h3><mark><%= projet.title%></mark></h3>
            <div class> <%= projet.synopsis%> </div>
    </div>
<%end%>
</div>
</section>
<br><br><br><br>




<section name="form" id=form>

<h2 id="test"><%= @title_search %></h2>
<br>
<form action="/home#form">
<input id="searchInput" name="title" placeholder="Rechercher un événement  |" type=text value="<%=params[:title]%>"><br><br>
<b>FILTRES</b> | <a href="/#form" id="reboot" style="display: inline">Réinitialiser</a>
<hr>

<div class="filtre-bar">
    <select name="theme">
        <option value>Thématique</option>
        <option value="1" <%="selected" if params[:theme] == "1" %>>Sciences de l'environnement (Agronomie, écologie, développement durable)</option>
        <option value="2" <%="selected" if params[:theme] == "2" %>>Sciences de l'ingénieur</option>
        <option value="3" <%="selected" if params[:theme] == "3" %>>Sciences de la Terre et de l'univers, de l'espace</option>
        <option value="4" <%="selected" if params[:theme] == "4" %>>Sciences de la vie et de la santé</option>
        <option value="5" <%="selected" if params[:theme] == "5" %>>Sciences exactes (Maths, physique, chimie)</option>
        <option value="6" <%="selected" if params[:theme] == "6" %>>Sciences humaines et sociales</option>
    </select>
    <select name="target">
        <option value>Public ciblé</option>
        <option value="1"<%="selected" if params[:target] == "1" %>>3 - 6 ans | Maternelle</option>
        <option value="2"<%="selected" if params[:target] == "2" %>>6 - 11 ans | Primaire</option>
        <option value="3"<%="selected" if params[:target] == "3" %>>11 - 15 ans | Collège</option>
        <option value="4"<%="selected" if params[:target] == "4" %>>15 - 18 ans | Lycée</option>
        <option value="5"<%="selected" if params[:target] == "5" %>>18 - 25 ans | Étudiant</option>
    </select>
    <select name="difficulty">
        <option value>Difficulté</option>
        <option value="0" <%="selected" if params[:difficulty] == "0" %>>Curieux</option>
        <option value="1" <%="selected" if params[:difficulty] == "1" %>>Amateur</option>
        <option value="2" <%="selected" if params[:difficulty] == "2" %>>Averti</option>
    </select>
   
    <select name="form">
        <option value>Format</option>
        <option value="1" <%="selected" if params[:form] == "1" %>>Conférence-débat</option>
        <option value="2" <%="selected" if params[:form] == "2" %>>Vidéo</option>
        <option value="3" <%="selected" if params[:form] == "3" %>>Infographie</option>
        <option value="4" <%="selected" if params[:form] == "4" %>>Article</option>
        <option value="5" <%="selected" if params[:form] == "5" %>>Reportage</option>
        <option value="6" <%="selected" if params[:form] == "6" %>>Visite virtuelle</option>
        <option value="7" <%="selected" if params[:form] == "7" %>>Spectacle</option>
        <option value="8" <%="selected" if params[:form] == "8" %>>Animation</option>
        <option value="9" <%="selected" if params[:form] == "9" %>>Exposition</option>
        <option value="10" <%="selected" if params[:form] == "10" %>>Jeu</option>
        <option value="11" <%="selected" if params[:form] == "11" %>>Village des sciences virtuel</option>
        <option value="12" <%="selected" if params[:form] == "12" %>>Atelier</option>
        <option value="13" <%="selected" if params[:form] == "13" %>>Visio-conférence</option>
        <option value="14" <%="selected" if params[:form] == "14" %>>Podcast</option>
        <option value="15" <%="selected" if params[:form] == "15" %>>Webinaire interactif</option>

    </select>
    <select name="duration">
        <option value>Durée</option>
        <option value="1" <%="selected" if params[:duration] == "1" %>>Moins de 5 minutes</option>
        <option value="2" <%="selected" if params[:duration] == "2" %>>5 à 15 minutes</option>
        <option value="3" <%="selected" if params[:duration] == "3" %>>15 à 60 minutes</option>
        <option value="4" <%="selected" if params[:duration] == "4" %>>Plus d'une heure</option>
    </select>
    <select name="territory">
        <option value>Territoire</option>
        <%i = -1; territory_array.each do |name| i+=1 %> <option value=<%=i%> <%="selected" if  params[:territory] == i.to_s %> > <%= params[:duration]%>  <%=name%></option><%end%>
    </select>
</div>
</form>
<br><br>

<div class=card-container>

    <% 
    x = 0
    %> 

    <% @projets.each do |projet|%>
    <% x = x+1 %>

    

    <div data-target="#modal_<%=x%>" class="card">
        <header style='background-image: url("<%= asset_url("#{projet.image}") if projet.image%>")'>
       
        
            <h3><mark><%= projet.title%></mark></h3>
        </header>
        <main>
            <h4><%= projet.name_structure%></h4>
           
            
            <%= projet.synopsis %>
        </main>
        <footer>
            <div class=line><%= image_tag "target_logo.svg", class: "logo" %> <%=projet.show_target%> </div>
            <%if projet.live %><div class="line2"><b>En live</b><%= image_tag "live_logo.svg", class:"logo" %><%end%>
           
        </footer>
    </div>




    <div id="modal_<%=x%>" class="modal-container hidden">
    <div id="modal_next_<%=x%>" data-target="#modal_<%=x+1%>" class="arrow-right <%="hidden" if x == @projets.count.count%>"> <i class="fas fa-arrow-right"></i> </div>
    <div id="modal_prev_<%=x%>" data-target="#modal_<%=x-1%>" class="arrow-left <%="hidden" if x == 1%>""> <i class="fas fa-arrow-left"></i> </div>
    <div data-target="#modal_<%=x%>" class=close-btn>  <%= image_tag "close-btn.svg" %></div>
    <div class="right">
        <img src="<%=asset_url("#{projet.image.to_s}")%>">
        <h3><mark><%= projet.title%></mark></h3>
       
    </div>
    <div class="left">
        <header><h4><%=projet.name_structure%></h4></header>
        <div class="left2">
            <div class="domain">    
                <% i = 0; max = projet.theme.count %>
                <% projet.theme.each do |theme| i+=1 %>
                <%= theme.name%> <%= "●" if i != max%>
                <%end%>
            </div>
            <div class="other">

                <div class="line"><%= image_tag "target_logo.svg" %><b><%= projet.show_target%></b></div>
                <div class="line"><%= image_tag "position_logo.svg" %><b><%= territory_array[(projet.territory)] if projet.territory%></b></div>
                <div class="line"><%= image_tag "time_logo.svg" %><b><%= duration_array[(projet.duration)]%></b></div>
                <div class="line"><%= image_tag "difficulty_logo.svg" %><b><%= difficulty_array[(projet.difficulty)] if projet.difficulty %></b></div>
                <% if projet.live%><div class="line"><%= image_tag "live_logo.svg" %></i><b> En live  <span id=date><%=  projet.date.strftime('%d/%m/%y - %H:%M')if projet.date%></span></b></div><%end%>
            </div>

        </div>
        <div class="right2">
            <div class=content>
                <b>
                <% i = 0; max = projet.form.count %>
                <% projet.form.each do |form| i+=1%>
                    <%= form.name %><%= "," if i != max%>
                <%end%>
                </b>

                <%= projet.synopsis%>
            
            </div>
        <a href="<%=projet.url%>" target="_blank" class="btn-modal">Accéder au projet</a>
        </div>
        
    </div>
</div>






    <%end%>

   
</div>

<br><br>


<div>

</section>

</div>
