<!DOCTYPE html>
<html>
  <head>
    <title>Fds4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <title>Fête de la science - 100% numérique</title>
    <meta property="og:image" content="https://fete-de-la-science.herokuapp.com/<%= asset_path('100_numerique.svg')%>">
    <meta property="og:title" content="Fête de la science - 100% numérique">
    <meta name="twitter:image:src" content="https://fete-de-la-science.herokuapp.com/<%= asset_path('100_numerique.svg')%>">
    <meta property="og:site_name" content="Fête de la science"/>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('logo_fds.svg') %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
      <nav>
        <div class="container">
          <a id="logo_fds" href="/"><%= image_tag "logo_fds.svg", class:"desktop" %><%= image_tag "logo_fds_mobile.svg", class:"mobile" %></a>
          <%= image_tag "logo_region.svg", id:"logo_region" %>
          <%= image_tag "menu.svg", id: "menu_logo" %>
          <%= image_tag "menu_logo.svg" %>
        </div>
      </nav>
      <div class="under-bar">
        <div class="container">
        <a href="/">Catalogue des projets</a>
        <a href="/quizz">Quiz</a>
        <a href="/about">A propos</a>
         <% if current_user%> <a href="/update">Update</a><%end%>
        </div>
      </div>
      <%= render 'shared/flashes' %>
      <%= yield %>

      <footer id="main-footer">
      <div class="container">
        <a href="/about">A propos</a>
        <a href="/mention">Mentions Légales</a>
      </div>
      </footer>

  </body>
</html>
