<!DOCTYPE html>
<html>
  <head>
    <title>Fds4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('logo_fds.svg') %>
  </head>

  <body>
      <nav>
        <div class="container">
          <a id="logo_fds" href="/"><%= image_tag "logo_fds.svg", class:"desktop" %><%= image_tag "logo_fds_mobile.svg", class:"mobile" %></a>
          <%= image_tag "logo_region.svg", id:"logo_region" %>
          <%= image_tag "menu.svg", id: "menu_logo" %>
          <%= image_tag "menu_logo.svg" %>
        </div>
      </nav>
      <div class="under-bar">
        <div class="container">
        <a href="/">Catalogue des projets</a>
        <a href="/quizz">Quiz</a>
        <a href="/about">A propos</a>
        </div>
      </div>
      <%= render 'shared/flashes' %>
      <%= yield %>

      <footer id="main-footer">
      <div class="container">
        <a href="/about">A propos</a>
        <a href="/mention">Mentions Légales</a>
      </div>
      </footer>

  </body>
</html>
